[Service]
PIDFile=/run/dbus/messagebus.pid
ExecStartPre=/bin/mkdir -p /var/run/dbus
ExecStartPre=/bin/chmod g+w /var/run/ /var/run/dbus/
ExecStart=
ExecStart=/bin/dbus-daemon --system --fork
ExecReload=
ExecReload=/bin/dbus-send --print-reply --system --type=method_call --dest=org.freedesktop.DBus / org.freedesktop.DBus.ReloadConfig
ExecStopPost=/bin/rm -f /run/dbus/messagebus.pid
User=dbus
Group=root
PermissionsStartOnly=true
